body {
  font-size: 12px;
  line-height: 1.34;
  margin: 0;
  overflow-y: visible;
  overscroll-behavior-y: none;
  padding: 0;
  font-family: 'Segoe UI Historic', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
}

.senderName {
  font-size: 1em;
  line-height: 15px;
  color: rgb(101, 103, 107);
}

.contentContainerText {
  background-color: rgb(240, 240, 240);
  min-width: 0px;
  max-width: 564px;
  overflow-wrap: break-word;
  padding: 8px 12px 8px 12px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 18px;
  border-style: solid;
  overflow-x: hidden;
}

.contentText {
  color: rgb(5, 5, 5);
  font-size: 0.875rem;
  line-height: 20px;
  /* uses var on mess css */
  margin-top: 4px;
  margin-bottom: 4px;
}

.stickers {
  height: 96px;
}

.photos {
  max-height: 350px;
}

.contentContainerUnsent {
  border-color: rgb(206, 208, 212);
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  color: rgb(188, 192, 196);
  padding: 8px 12px 8px 12px;
  min-width: 0px;
  max-width: 564px;
}